<?xml version="1.0"?>
<launch>
    <rosparam param="/use_sim_time"> true </rosparam>

    <node pkg="tf" type="static_transform_publisher" name="camera7_to_camera5" output="screen"
          args="-0.021429 -0.245775 4.950511 -3.133566 0.024969 3.065223 camera7_color_optical_frame camera5_color_optical_frame 10"/>

    <node pkg="tf" type="static_transform_publisher" name="camera7_to_camera6" output="screen"
          args="-2.460219 0.060848 2.602474 2.286628 1.503982 2.326218 camera7_color_optical_frame camera6_color_optical_frame 10"/>

    <node pkg="tf" type="static_transform_publisher" name="camera7_to_camera8" output="screen"
          args="2.548255 0.211493 2.768452 -1.970714 -1.263133 2.031676 camera7_color_optical_frame camera8_color_optical_frame 10"/>


    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="tello_estimator"
          args="load tello_controller/tello_position_estimator_fixed_q standalone_nodelet"
          output="screen">

        <!--    <param name="use_bag"         type="bool"   value="true"/>-->
        <param name="baseFrame" type="string" value="camera7_color_optical_frame"/>
        <param name="telloFrame" type="string" value="telloFrame"/>

        <param name="qx" type="double" value="-0.0265666"/>
        <param name="qy" type="double" value=" 0.923372"/>
        <param name="qz" type="double" value=" 0.0125344"/>
        <param name="qw" type="double" value=" 0.382781"/>

        <param name="target_info_num" type="int" value="4"/>

        <!-- subscribe settings -->
        <remap from="points1" to="camera5/points_centroid"/>
        <remap from="points2" to="camera6/points_centroid"/>
        <remap from="points3" to="camera7/points_centroid"/>
        <remap from="points4" to="camera8/points_centroid"/>

    </node>
</launch>
