<?xml version="1.0"?>
<launch>
<!--
    rosrun image_view image_saver __name:=image_saver _save_all_image:=false  image:=/tello/image_raw
    rosrun image_view image_saver __name:=image_saver _save_all_image:=false  image:=/camera6/color/image_raw
 -->
    <node pkg="nodelet" type="nodelet" name="controller" args="manager" required="true" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="track_target"
          args="load anafi_controller/follow_main_uav controller"
          output="screen">

        <param name="main_way_point_file" type="string" value="$(find anafi_controller)/way_point/test/main.txt"/>
        <param name="main_wp_time_interval" type="double" value="0"/>

        <param name="main_way_point_time_file" type="string" value="$(find anafi_controller)/way_point/test/main_time.txt"/>

        <param name="sub_num" type="int" value="1"/>
        <param name="sub_way_point_file0" type="string" value="$(find anafi_controller)/way_point/test/sub0.txt"/>
<!--        <param name="sub_way_point_file1" type="string" value="$(find anafi_controller)/way_point/test/sub1.txt"/>-->
<!--        <param name="sub_way_point_file2" type="string" value="$(find anafi_controller)/way_point/test/sub2.txt"/>-->
<!--        <param name="sub_way_point_file3" type="string" value="$(find anafi_controller)/way_point/test/sub3.txt"/>-->

    </node>
</launch>
