<?xml version="1.0"?>
<launch>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera1" output="screen" args="0.054300 0.810700 0.006200 0.078769 0.007104 0.105082 camera5_color_optical_frame camera1_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera2" output="screen" args="2.352900 0.864200 2.425400 2.054563 -1.556205 -1.909626 camera5_color_optical_frame camera2_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera3" output="screen" args="-0.060700 0.859300 4.653100 3.124166 0.009690 -2.977474 camera5_color_optical_frame camera3_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera4" output="screen" args="-2.506400 0.546800 2.362800 3.018255 1.556973 3.053255 camera5_color_optical_frame camera4_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera6" output="screen" args="2.315400 0.018600 2.317500 0.155356 -1.515407 -0.153554 camera5_color_optical_frame camera6_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera7" output="screen" args="-0.023500 0.107900 4.649200 -3.123399 0.007524 -3.105363 camera5_color_optical_frame camera7_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera8" output="screen" args="-2.366800 0.046900 2.490100 -2.249027 1.516303 -2.256918 camera5_color_optical_frame camera8_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera9" output="screen" args="-0.056300 -0.834600 0.010500 -0.018199 0.002914 -0.338105 camera5_color_optical_frame camera9_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera10" output="screen" args="2.317400 -0.720300 2.288700 -0.039357 -1.457734 -0.249063 camera5_color_optical_frame camera10_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera11" output="screen" args="-0.014000 -0.669100 4.734900 3.137685 -0.014097 2.866293 camera5_color_optical_frame camera11_color_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="camera5_to_camera12" output="screen" args="-2.416600 -0.774000 2.451700 -2.417967 1.566370 -2.752490 camera5_color_optical_frame camera12_color_optical_frame 10"/>
</launch>
