<?xml version="1.0"?>
<launch>
    <node pkg="nodelet" type="nodelet" name="estimator" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="tello_estimator"
          args="load tello_controller/tello_position_estimator estimator"
          output="screen">

        <!--    <param name="use_bag"         type="bool"   value="true"/>-->
        <param name="baseFrame" type="string" value="camera7_color_optical_frame"/>
        <param name="telloFrame" type="string" value="telloFrame"/>
        <param name="tello_num" type="int" value="1"/>

        <param name="qx" type="double" value="-0.0265666"/>
        <param name="qy" type="double" value=" 0.923372"/>
        <param name="qz" type="double" value=" 0.0125344"/>
        <param name="qw" type="double" value=" 0.382781"/>

        <param name="points_dist"   type="double"   value="0.10"/>
        <param name="color_dist"   type="double"   value="0.10"/>
        <param name="effective_dist" type="double"  value="0.30"/>
        <param name="effective_point_num" type="int" value="2"/>

        <param name="target_info_num" type="int" value="12"/>

        <!-- subscribe settings -->
        <remap from="points1" to="camera1/points_centroid"/>
        <remap from="points2" to="camera2/points_centroid"/>
        <remap from="points3" to="camera3/points_centroid"/>
        <remap from="points4" to="camera4/points_centroid"/>
        <remap from="points5" to="camera5/points_centroid"/>
        <remap from="points6" to="camera6/points_centroid"/>
        <remap from="points7" to="camera7/points_centroid"/>
        <remap from="points8" to="camera8/points_centroid"/>
        <remap from="points9" to="camera9/points_centroid"/>
        <remap from="points10" to="camera10/points_centroid"/>
        <remap from="points11" to="camera11/points_centroid"/>
        <remap from="points12" to="camera12/points_centroid"/>
    </node>
</launch>
